/*classe é .
id é # */


/* todo os elemento = * */




* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box; /* para que o padding e margin não aumentem o tamanho do elemento */
}

body{
    background-color: #f6f8fc;
}

.content{
    padding: 1rem;
    background-color: white;
    height: 100vh; /* altura da tela */
    width: 100vw; /* largura da tela */
}

/*responsividade*/
@media screen and (min-width: 992px) {
  .content{
    max-width: 992px;
    height: auto; /* altura automática para conteúdo */ 
    margin: 1rem auto;/*centraliza*/
    border-radius: 1rem; 
  }
}

